*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to bottom right,rgb(223,229,248),rgb(112,119,146));
}
button{
    width: 120px;
    height: 40px;
    background-image: linear-gradient(to right,rgb(73,153,245),rgb(31,118,214));
    border-radius: 10px;
    color: whitesmoke;
    font-size: large;
    font-size: 'Ramaraja', serif;
}
button:hover{
    text-shadow:
    0 0 13px #fff,
    0 0 4px #fff,
    0 0 65px#fff ;
}
.container{
    margin: auto;
    align-items: center;
    font-family: 'Ramaraja', serif;
    font-size: 25px;
}
.cast div label{
    padding-right: 40px;
}
.date label{
    padding-right: 120px;
}
.description label{
    padding-right: 120px;
}
div .rating{
    padding-right: 10px;
}
.duration label{
    padding-right: 150px;
}
.director label{
    padding-right: 150px;
}
.footer{
    margin: auto;
    text-align: center;
    height: 50px;
    font-size: 40px;
    background-color: rgb(49, 47, 47);
}
.genre label{
    padding-right: 165px;
}
.header{
    margin: auto;
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    color: #fff;
    text-shadow:
    0 0 10px #fff,
    0 0 3px #fff,
    0 0 70px#fff ;
    background-color: rgb(49, 47, 47);
}
.input{
    border-radius: 6px;
    background-color: rgb(50,54,69);
    color: white;
    width: 220px;
    height: 35px;
}
.input:hover{
    background-color: rgb(84,91,105);
}
 label:hover{
     color:black;
}
.main{
    background-image: linear-gradient(to bottom right,rgb(112,119,146,0.5),rgb(86,88,119,0.5));
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 18px;
    color: white;    
}
.main div{
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.movieName label{
    padding-right: 120px;
}

.poster label{
    padding-right: 150px;
}
.role{
    padding-left: 20px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
} 
.rate:not(:checked) >  label:hover{
    color: gold;
}
