body{
    background-color: rgb(73, 80, 87);
    margin: 0 !important;
}

.content{
    margin: auto;
    text-align: center;
    font-size: larger;
}

.header h2{
    margin: auto;
    height: 50px;
    width: 100%;
    padding-top: 15px;
    background-color:rgb(49, 48, 48);
    text-align: center;
    color: azure;
}
.nav{
    height: 0;
    width: 0;
    background-color: rgb(37, 36, 36);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: width 0.5s, height 0.8s;
    
    
}
.nav a{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: aliceblue;
    padding-left: 30px;
    transition: 0.3s;

}
.nav a:hover{
    color: brown;
    background-color: white; 
    font-size: 24px;
}
.nav a:active{
    background-color:white;
    color: black;
}
.open{
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
    position: fixed;
    top: 12px;
    color: white;
}
