*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(47,49,55);
    background-size: cover;
    font-family: 'Ramaraja', serif;
    
  }
div p{
    width: 61%;
    height:20px ;
    margin: auto;
    padding-left:30px;
    margin-bottom: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    color:rgb(119, 119, 121);

}

.logo{
    color:rgb(44, 43, 43);
    margin-top:45px;
    margin: auto;
    margin-top: 35px;
    width: 100px;
    height: 100px;
    background-color: rgba(240, 248, 255, 0.486) ;
    border-radius: 50%;
}

.logo i{
    font-size: 64px;
    padding-left: 14px;
    padding-top: 20px;
}

.login{
 
    background-image: linear-gradient(to right,black,grey);
    color: white;
    width: 65%;
    height: 65px;
    margin: auto;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 33px;
    margin-top: 36px;
    border-radius: 20px;
    border: 3px solid rgb(65,64,83); 
    transition:1s;
    
}
.login:hover{
    background-image: linear-gradient(to right,grey,black);
    transition: 0.5s;
}
.main{
   
    position: relative;
    width: 380px;
    height: 65vh;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    background-color: rgb(16,16,16,0.6);
    margin: 10% auto;
    border-radius: 15px;
    overflow: auto;
    box-shadow: 6px 4px 4px 5px black;
}
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right,grey,black);
    color: white;
    width: 65%;
    height: 65px;
    margin: auto;
    text-align: center;
    padding-top: 12px;
    border-radius: 20px;
    border: 3px solid rgb(65,64,83);
}
.register:hover{
    
    background-image: linear-gradient(to right,black,grey);
}
.loginText{
   
    text-decoration: none;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}
.registerText{
    
    text-decoration: none;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media only screen and (max-width:768px){
    .main{
        width: 300px;
        height: 64vh;
        margin-top: 100px;
    }
}