*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/ticket-2974645.jpg");
    background-size:cover;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
button{
    
    background-image: linear-gradient(to right,black,grey);
    color: white;
    border-color:black;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left:10px ;
    width: 146px;
    height: 43px;
    border-radius: 20px;
}
button:hover{

    background-image: linear-gradient(to right,grey,black);
    color:white;
    border-color: white;
}


.email{
    margin:30px 40px;
}
#form{
    padding: 28px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ramaraja', serif;

}
form i{
    cursor: pointer;
    margin-left: -24px;
    color:black
}
.forget{
    width: 50%;
    height:20px ;
    font-size: 15px;
    margin: auto;
    padding-left:30px;
    margin-bottom: 3px;
    margin-bottom: 10px;
}
.forget a{
    text-decoration: none;
    color:white;
}
.head{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 20px;
    color: white;
    font-size: large;
}

.input{
    padding: 10px 8px;
    width: 267px;
    height: 57px;
    border-radius: 18px;
    background-color: rgb(141,146,152);
    color:black;
    box-shadow: 0px 3px 3px 0px black;
    font-size: 15px;
}
::placeholder{
    color: black;
    opacity: 1;
}
label{
        color: white;
        font-size: 20px;
        
 }
.logo{
    color:black;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(141,146,152) ;
    border-radius: 50%;
    margin-top: -48px;
}
.logo i{
    font-size: 64px;
    padding-left: 14px;
    padding-top: 20px;
}
.main{
    width:455px;
    border: 5px;
    border-style: none;
    border-radius: 20px;
    margin: auto;
    margin-top:100px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(47,49,55);
    box-shadow: 0px 4px 4px 0px black;  
}

.name{
    margin: 30px 40px;
}
.Npassword{
    margin:16px 40px;
}

.alert{
    width: 215px;
    position: absolute;
    font-size: small;
    top: 52%;
    right:69%;
    height: 86xpx;
    background-color:black;
    color: white;
    border-color: brown;
    border-style: groove;
    padding: 2px;
}
.show {
    display : none;
}

@media only screen and (max-width:768px) {
    .main{
        width: 350px;
    }
    .logo{
        margin-top:-35px ;
    }
    .alert{
        width: 282px;
        right: 0%;
        height: 64px;
        top: 50%;
    
    }
  
}