* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #cddafd;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn span {
    margin: 8px;
}

.btn span button {
    width: 80px;
    height: 30px;
    background-color: #1a406b;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.btn span button:hover {
    color: black;
    background-color: #2d00f7;
}

.card {
    padding-top: 100px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content {
    width: 30rem;
    height: 45rem;
    background-image: linear-gradient(to bottom right, rgb(186, 235, 255), rgb(197, 93, 246));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px black;
}

.content .form .checkbox {
    margin-bottom: 15px;
    width: 28px;
}

.content #head2 {
    display: none;
}

.confirm {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    position: fixed;
    border-radius: 5px;
    display: none;
}

.confirm button {
    width: 100px;
    height: 50px;
    margin: 20px;
    border-radius: 15px;
    color: black;
    background-color: #e7c6ff;
    cursor: pointer;
}

.confirm .box {
    display: block;
    position: relative;
    width: 40%;
    height: 190px;
    background-color: cornflowerblue;
    margin: auto;
    margin-top: 25%;
    border-radius: 30px;
}

.confirm span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.confirm .close {
    position: absolute;
    right: 15px;
    top: 7px;
}

.confirm .close:hover {
    color: red;
    background-color: white;
}

.confirm button:hover {
    background-color: #25a18e;
    color: black;
}

.form .id {
    display: none;
}

.form div {
    margin-top: 15px;
}

.form i {
    color: red;
}

h3 {
    margin-top: 10px;
    text-shadow: 1px 1px;
}

.heading h3 i {
    margin-right: 10px;
    text-shadow: none;
}

input,
select {
    width: 95%;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px grey;
}

input .checkbox {
    box-shadow: none;
}

input,
select,
label {
    display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label:hover {
    color: red;
}

.nav {
    height: 40px;
    background-image: linear-gradient(to right, rgb(45, 0, 247), rgb(242, 0, 137));
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nav .fa-user {
    color: white;
    position: absolute;
    left: 10px;
    font-size: 35px;
}

.nav .fa-user:hover {
    color: black;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 30px;
    font-weight: 300;
}

.nav a:hover {
    color: black;
}

.nav a i {
    font-size: 20px;
    padding: 7px;
}

.payout-with-salary input {
    box-shadow: none;
}

select {
    height: 35px;
    width: 102%;
}

.showList {
    width: 300px;
    height: 400px;
    background-image: linear-gradient(to bottom right, rgb(186, 235, 255), rgb(197, 93, 246));
    border-radius: 20px;
    padding: 20px 30px;
    margin: 30px;
    display: none;
}

.showList input {
    padding: 10px;
    width: 88%;
    margin-bottom: 10px;
    display: inline-flex;
}

.showList .id {
    display: none;
}

.showList .total span {
    width: 42%;
}

.showList .total input {
    width: 40%;
}

#update {
    display: none;
}

textarea {
    resize: none;
    width: 95%;
    height: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

@media only screen and (max-width: 768px) {
    .content {
        width: 25rem;
    }
}