<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/add.css">
    <title>Add Rating</title>
</head>
<body>
    <div class="container">
        <div class="header"><h2>Add Rating</h2></div>
        <div class="main">
            <form action="" id="form">
                <div class="movieName">
                    <label for="movieName">Movie Name</label>
                    <input type="text" name="movieName" class="input" id="movieName" placeholder="Enter Movie Name">
                </div>
                <div class="date">
                    <label for="date">Released Date</label>
                    <input type="date" name="date" class="input" id="date">
                </div>
                <div class="genre">
                    <label for="genre">Genre</label>
                    <select name="genre" id="genre" class="input">
                        <option value="none">select</option>
                        <option value="action">Action</option>
                        <option value="comedy">Comedy</option>
                        <option value="drama">Drama</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="horror">Horrror</option>
                        <option value="mystery">Mystery</option>
                        <option value="romance">Romance</option>
                        <option value="thriller">Thriller</option>
                        <option value="western">Western</option>
                        <option value="others">Others</option>
                    </select>
                </div>
                <div class="description">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" cols="30" rows="10" placeholder="Movie summary"></textarea>
                </div>
                <div class="duration">
                    <label for="duration">Duration</label>
                    <input type="number" id="duration" name="duration" placeholder="Duration in hrs" min="1">
                </div>
                <div class="director">
                    <label for="director">Director</label>
                    <input type="text" name="director" class="input" id="director" placeholder="Enter Director Name">
                </div>

                <div class="cast">
                    <label for="cast">Cast :</label><br>
                   <div> <span> <label for="c-name">Name</label>
                        <input type="text" name="c-name" id="castName" placeholder="Name">
                        <label for="Role">Role</label>
                        <input type="text" name="role" id="role" placeholder="Role">
                    </span>
                    </div>
                    <div><span> <label for="c-name">Name</label>
                        <input type="text" name="c-name" id="castName" placeholder="Name">
                        <label for="Role">Role</label>
                        <input type="text" name="Role" id="Role" placeholder="Role">
                    </span>
                    </div>
                    <div><span> <label for="c-name">Name</label>
                        <input type="text" name="c-name" id="castName" placeholder="Name">
                        <label for="Role">Role</label>
                        <input type="text" name="Role" id="Role" placeholder="Role">
                    </span>
                    </div>
                </div>
                <div class="poster">
                    <label for="poster">Poster</label>
                    <input type="file" name="poster" id="poster" class="input">
                </div>
            </form>
        </div>
    </div>
</body>
</html>