<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/85abba5e00.js" crossorigin="anonymous"></script>
    <script src="../function/index.js"></script>
    <title>Expense</title>
</head>

<body onload="employee()">
    <div class="main" id="main">
        <div class="nav">
            <i class="fa-solid fa-user"></i>
            <a onclick="createShow()"><i class="fa-solid fa-circle-plus"></i>Create</a>
            <a onclick="listShow()"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
            <a onclick="listShow()"><i class="fa-solid fa-eye"></i>View</a>
        </div>
        <div class="content" id="content">
            <div class="heading" id="head">
                <h3><i class="fa-solid fa-circle-info"></i>Expense Claim Details</h3>
            </div>
            <div class="heading" id="head2">
                <h3>Edit Details</h3>
            </div>

            <form onsubmit="event.preventDefault();" class="form" id="form">
                <div class="id">
                    <input type="text" class="id" id="idd">
                </div>
                <div class="employee">
                    <label for="employee">Employee<i class="fa-thin fa-asterisk"></i></label>
                    <select name="employee" id="employee" onclick="validate()" required>
                        <option value="" selected disabled>select</option>
                    </select>
                </div>
                <div class="expense-name">
                    <label for="expense-name">Expense Name<i class="fa-thin fa-asterisk"></i></label>
                    <input type="text" class="expense-name-input" id="expense-name" placeholder="Expense Name" required>
                </div>
                <div class="payment-type">
                    <label for="payment-type">Payment Type</label>
                    <select name="payment-type" id="payment-type">
                        <option value="select" selected disabled>select</option>
                    </select>
                </div>
                <div class="payment-method">
                    <label for="payment-method">Payment Method</label>
                    <select name="payment-method" id="payment-method">
                        <option value="select" selected disabled>select</option>
                    </select>
                </div>
                <div class="payment-date">
                    <label for="payment-date">Payment Date</label>
                    <input type="date" id="payment-date" class="payment-date">
                </div>
                <div class="payout-with-salary">
                    <label for="payout-with-salary">Payout with Salary</label>
                    <input type="checkbox" id="payout-with-salary" class="checkbox">
                </div>
                <div class="notes">
                    <label for="notes">Notes</label>
                    <textarea name="notes" id="notes" cols="30" rows="3" placeholder="Notes..."></textarea>
                </div>
                <div class="total">
                    <label for="total">Total<i class="fa-thin fa-asterisk"></i></label>
                    <input type="number" id="total" required>
                </div>
                <div class="currency">
                    <label for="Currency">Currency<i class="fa-thin fa-asterisk"></i></label>
                    <select name="currency" id="currency" required>
                        <option value="select" selected disabled>select</option>
                    </select>
                </div>
                <div class="btn">
                    <span class="save" id="create">
                    <button type="button" id="submit" onclick="createExp()">Submit</button>
                </span>
                    <span class="save" id="update">
                    <button type="button" id="save" onclick="updateData(this)">Save</button>
                </span>
                    <span class="cancel">
                    <button type="button" id="Cancel" onClick="window.location.reload();">Cancel</button>
                </span>
                </div>
            </form>
        </div>
        <div class="confirm" id="confirm">
            <div class="box">
                <span class="close" onclick="hideConfirm()">&#10006</span>
                <span> <button type="button" class="accept" onclick="hideConfirm()"> Confirm</button></span>
                <span><button type="button" class="reject" onclick="hideConfirm()">Cancel</button></span>
            </div>
        </div>

        <div class="showList" id="showList" style="display: none;">
            <div class="id">
                <input type="text" class="id" id="id">
            </div>
            <div class="employeeName">
                <label for="e-name">Employee Name</label>
                <input type="text" class="empolyee-name" name="e-name" id="employeeName">
            </div>
            <div class="expenseName">
                <label for="exp-name">Expense Name</label>
                <input type="text" class="expense-name" name="exp-name" id="expenseName">
            </div>
            <div class="paymentDate">
                <label for="date">Payment Date</label>
                <input type="text" class="date" name="date" id="date">
            </div>
            <div class="notes">
                <label for="notes">Notes</label>
                <input type="text" class="notes" name="notes" id="note">
            </div>
            <div class="total">
                <label for="total">Total</label>
                <input type="number" class="total" name="total" id="totalAmount">
                <input type="text" class="currency-Type" id="currencyType">
            </div>
            <div class="btn" id="btn">
                <span><button onclick="getSingleCard(this)">Edit</button></span>
                <span><button onclick="deleted(this)">Delete</button></span>
            </div>
        </div>

        <div class="card" id="card">

        </div>
    </div>
</body>

</html>