<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/85abba5e00.js" crossorigin="anonymous"></script>
    <script src="../function/index.js" defer></script>
    <title>Expense</title>
</head>

<body onload="employee()">
    <div class="main" id="main">
        <div class="nav" id="nav">
            <i class="fa-solid fa-user"></i>
            <a onclick="createShow()" class="tab active" style="font-weight: 900;"><i class="fa-solid fa-circle-plus"></i>Create</a>
            <a onclick="listShow()" class="tab" style="font-weight: 900;"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
            <a onclick="listShowView()" class="tab" style="font-weight: 900;"><i class="fa-solid fa-eye"></i>View</a>
        </div>
        <div class="content" id="content">
            <div class="heading" id="head">
                <h3 class="h3"><i class="fa-solid fa-circle-info"></i>Expense Claim Details</h3>
            </div>
            <div class="heading" id="head2">
                <h3>Edit Details</h3>
            </div>

            <form onsubmit="event.preventDefault();" class="form" id="form" name="form">
                <div class="id">
                    <input type="text" class="id" id="idd">
                </div>
                <div class="employee">
                    <label for="employee">Employee<i class="fa-thin fa-asterisk"></i></label>
                    <select name="employee" id="employee" onclick="employeeValue()" required>
                        <option value="" selected disabled>-select-</option>
                    </select>
                </div>
                <div class="expense-name">
                    <label for="expense-name">Expense Name<i class="fa-thin fa-asterisk"></i></label>
                    <input type="text" class="expense-name-input" id="expense-name" placeholder="Expense Name" onchange="expenseValue()" required>
                </div>
                <div class="payment-type">
                    <label for="payment-type">Payment Type</label>
                    <select name="payment-type" id="payment-type" onclick="validatePT()">
                        <option value="" selected disabled>-select-</option>
                    </select>
                </div>
                <div class="payment-method">
                    <label for="payment-method">Payment Method</label>
                    <select name="payment-method" id="payment-method" onclick="validatePM()">
                        <option value="" selected disabled>-select-</option>
                    </select>
                </div>
                <div class="payment-date">
                    <label for="payment-date">Payment Date</label>
                    <input type="date" id="payment-date" class="payment-date" onfocus="validateDate() ">
                </div>
                <div class="payout-with-salary">
                    <label for="payout-with-salary">Payout with Salary</label>
                    <input type="checkbox" id="payout-with-salary" name="payoutWithSalary" class="checkbox">
                </div>
                <div class="notes">
                    <label for="notes">Notes</label>
                    <textarea name="notes" id="notes" cols="30" rows="3" placeholder="Notes..." maxlength="100"></textarea>
                </div>
                <div class="total">
                    <label for="total">Total<i class="fa-thin fa-asterisk"></i></label>
                    <input type="number" id="total" step="0.01" min="0.01" onchange="amountValue()" required>
                </div>
                <div class="currency">
                    <label for="Currency">Currency<i class="fa-thin fa-asterisk"></i></label>
                    <select name="currency" id="currency" onclick="currrencyValue()" required>
                        <option value="" selected disabled>-select-</option>
                    </select>
                </div>
                <div class="btn">
                    <span class="save" id="create">
                    <button type="button" id="submit"  onclick="createExp(event)" disabled>Submit</button>
                </span>
                    <span class="save" id="update">
                    <button type="button" id="save"  onclick="updateData(this)" disabled>Update</button>
                </span>
                    <span class="cancel">
                    <button type="button" id="Cancel" onClick="window.location.reload();">Cancel</button>
                </span>
                </div>
            </form>
        </div>
        <div class="confirm" id="confirm">
            <div class="box">
                <span class="close" onclick="hideWithout()">&#10006</span>
                <span class="span"> <button type="button" class="accept" onclick="hideConfirm()" > Confirm</button></span>
                <span class="span"><button type="button" class="reject" onclick="hideWithout()">Cancel</button></span>
            </div>
        </div>

        <div class="showList" id="showList" style="display: none;">
            <div class="id">
                <input type="text" class="id input-label" id="id">
            </div>
            <div class="employeeName">
                <label for="e-name" class="label">Employee Name</label>
                <label type="text" class="empolyee-name input-label" name="e-name" id="employeeName"></label>
            </div>
            <div class="expenseName">
                <label for="exp-name" class="label">Expense Name</label>
                <label type="text" class="expense-name input-label" name="exp-name" id="expenseName"></label>
            </div>
            <div class="paymentDate">
                <label for="date" class="label">Payment Date</label>
                <label type="text" class="date input-label" name="date" id="date"></label>
            </div>
            <div class="notes">
                <label for="notes" class="label">Notes</label>
                <label type="text" class="notes input-label" name="notes" id="note"></label>
            </div>
            <div class="total">
                <label for="total" class="label">Total</label>
                <label type="number" class="total input-label" name="total" id="totalAmount"></label>
                <label type="text" class="currency-Type input-label" id="currencyType"></label>
            </div>
            <div class="btn" id="btn">
                <span><button onclick="getSingleCard(this)">Edit</button></span>
                <span class="delete-button"><button onclick="deleted(this)">Delete</button></span>
            </div>
        </div>

        <div class="card" id="card">

        </div>
    </div>

</body>

</html>